# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local Environment Variables
# Exclude local environment variables. These files may contain sensitive information.
.env*.local

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
